%aside.menu
  %p.menu-label Account
  %ul.menu-list
    %li
      = link_to 'Profile', 'javascript:void(0)'
  %p.menu-label Places
  %ul.menu-list
    %li
      = link_to 'Your Contributions', 'javascript:void(0)'
